$max-width: 1000px;

$green: #468966;
$tan: #fff0a5;
$orange: #ffb03b;
$red: #b64926;

$text-color: #2a232b;
$background-color: lighten($tan, 10%);

$font-size: 24px;

$heading-font: 'Quicksand', sans-serif;
$content-font: "Josefin Sans", sans-serif;